#root {
    background: #eee;
    height: 100vh;
}

.country-wrapper {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.13);
    margin: 20px auto;
}

header {
    position: relative;
    width: 100%;
    height: 30%;
    background: #003e9f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.country-photo {
    position: absolute;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 10px solid #003e9f;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: 0 auto;
}

.country-info {
    padding: 55px 5px 65px;
    font-family: 'Roboto Condesed';
}

h1 {
    font-size: 28px;
    letter-spacing: 1.2px;
    text-align: center;
    font-weight: 600;
    color: #323232
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: #5f5f5f;
}

.info {
    display: flex;
    justify-content: space-around;
}

.info div {
    text-align: center;
    width: 33%;
}

.info div span {
    display: block;
}

.info div span:nth-of-type(1) {
    font-weight: bold;
    font-size: 24px;
    color: #323232;
}

.info div span:nth-of-type(2) {
    font-size: 12px;
    text-transform: uppercase;
    color: #5f5f5f;
    letter-spacing: .5px;
    padding: 6px 0;
}

.countries-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-country {
    width: 26%;
    height: 250px;
    margin-top: 50px;
}

.country-logo-wrapper {
    height: 100%;
    width: 100%;
}

.country-logo {
    max-width: 100%;
    max-height: 100%;
}